**/node_modules
**/tests
**/.git
**/.gitignore
**/docker_services
**/postcss.config.js
# **/composer.lock
**/package.lock
**/Dockerfile.app
**/.bladeformatterrc.json
**/.editorconfig
**/.env.example
**/phpunit.xml
**/pint.js
